@charset "UTF-8";

/* Medium devices (landscape tablets, 768px and up) */
:root {
    --font_padrao: Arial, Helvetica, sans-serif;
    --font_links: "Open Sans", sans-serif;
    --font_destaque: "Courgette", cursive;
    --vermelho: #bf1b39;
    --amarelo-claro: #f2dc6d;
    --amarelo-escuro: #b7a05a;
    --marrom: #685e30;
 
  }
  

@media screen and (min-width: 768px) {
  div#tela_grande {
    display: block;
    text-align: center;
    transform: translateY(-25px);
  }
  div#mobile {
    display: none;
  }
  header#menu_mobile{
    display: none;
  }
  header#menu_grande{
    display: block;
    background-color: var(--amarelo-escuro);
    position: sticky;
    top: 0;
    padding: 20px;
  }
  header#menu_grande a{
    color: white;
    font-family: var(--font_links);
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
    transition: all .3s;
  }
  section#contato {
    height: 600px;
  }

  div#contatoBack{
    height: 600px;
  }

  section#canarios{
    padding-left: 2.5rem;
  }
 
 
  span#canarinho img {
    width: 40%;
    margin-right: 25px;
  }


 
  
  footer p {
    font-size: 1em;
    transition: all .3s;
  }
  


}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  body {
    overflow-x: hidden;
  }
  
  section#canarios {
    width: 100vw;
    position: relative;
    top: 50%;
    left: 50%;
    padding-left: 0rem;
    transform: translate(-49%, 0);
  }

  span#canarinho img {
    width: 30%;
    margin-right: 25px;
  }

  
}
