@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --fonte-padrao: "Open Sans", sans-serif;
  --font-destaque: "Courgette", cursive;
  --cor1: #bfae5a;
  --cor2: #80743c;
  --cor3: #736936;
  --cor4: #59512a;
  --cor5: #332e18;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body.scroll{
    scroll-behavior: smooth;
}
body{
  font-family: var(--fonte-padrao);
  margin: 0px;
  padding: 0px;
}
header {
  text-align: center;
  background-color: white;
}
.logo {
  width: 200px;
}
nav {
  max-width: 100%;
  padding: 19px;
  background-color: var(--cor1);
  height: 20px;
  position: sticky;
  top: 0;
  z-index: 9999;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.538);
}
nav a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 8px;
  transition-duration: 0.5s;
  padding: 10px;
  margin-right: 5px;
}
nav a:hover {
  color: var(--cor5);
  transition-duration: 0.3s;
  border-radius: 8px;
}

h1 {
  font-family: var(--font-destaque);
  color: var(--cor5);
  font-size: 6em;
  text-align: center;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.387);
}
main {
  margin: auto;
  min-width: 200px;
  height: 1200px;
  background-color: white;
}

main p {
  font-family: var(--fonte-padrao);
  font-size: 1.3em;
  font-weight: normal;
}
#inicio {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.119),
    rgba(0, 0, 0, 0.601)
  );
}
#container1 {
  text-align: center;
  background-image: url(../imagens/canario-net5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 90vh;
  box-shadow: inset 0px -1px 20px black;
}
#inicio h1 {
  padding-top: 250px;
}
.conteudo1 p {
  text-align: justify;
  text-indent: 100px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 2.5em;
  padding-bottom: 25px;
}
.conteudo1 h2 {
  text-align: center;
  font-family: var(--font-destaque);
  font-size: 3.5em;
  padding-bottom: 55px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#img2 {
  background-image: url(../imagens/canario3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 90vh;
  box-shadow: inset 0px -1px 20px black;
  margin-bottom: 55px;
}
#container2 {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.018),
    rgba(0, 0, 0, 0.176)
  );
}
strong {
  color: var(--cor4);
  font-weight: 800;
}
.conteudo p {
  text-align: justify;

  padding-left: 25px;
  padding-right: 25px;
  line-height: 2.5em;
  padding-bottom: 25px;
}
.conteudo h2 {
  text-align: center;
  font-family: var(--font-destaque);
  font-size: 3.5em;
  padding-bottom: 55px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#passarinho {
  width: 30%;
  height: 30%;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 2px solid black;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.278);
}
.fixar {
  width:100%;
  text-align: center;
  position: fixed;
  top: 0;
}
span {
  margin-left: 15px;
  margin-right: auto;
}
.canarios {
  display: block;
  text-align: center;
  margin-bottom: 35px;
}
#container3 {
  text-align: center;
  background-image: url(../imagens/canario-net2.jpg);
  background-size: 1500px 1500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 90vh;
  box-shadow: inset 0px -1px 20px black;
  margin-bottom: 55px;
}
#img3 {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.648),
    rgba(0, 0, 0, 0.576)
  );
}

#img3 h2 {
  color: white;
  font-family: var(--font-destaque);
  font-size: 3.5em;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.623);
  padding-top: 55px;
  margin-bottom: 100px;
}
div.contato {
  text-align: center;
}
div.contato img {
  width: clamp(1.75em, 1em + 3vw, 2.5em);
  margin-right: 5px;
}
div.contato a {
  display: inline-block;
  margin-bottom: 35px;
  text-decoration: none;
  font-size: clamp(1.75em, 1em + 3vw, 2.5em);
  text-decoration: none;
  transition: 0.5s;
  color: white;
}
div.contato a:hover {
  text-decoration: underline;
  transition: 0.5s;
  color: var(--cor3);
}
footer {
  text-align: center;
  background-color: var(--cor1);
  position: relative;
  color: white;
  font-size: 0.8em;
}
footer a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
footer a:hover {
  text-decoration: underline;
  color: var(--cor5);
  transition: 0.5s;
}
.scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  background-color: var(--cor5);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  opacity: 0;
}
.scrollTop:hover {
  transition: all 0.5s ease 0s;
  background-color: var(--cor3);
  color: var(--cor4);
}
.scrollTop.active {
  
  opacity: 1;
}
